### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [58]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [59]:
# Look at column names; this will be helpful for the steps below

list(purchase_data.columns)

# 'Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'

['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price']

## Player Count

* Display the total number of players

In [60]:
list(purchase_data.columns)

purchase_data_array = purchase_data["SN"].unique()
player_count = len(purchase_data_array)
player_df = pd.DataFrame([{"Total Players":player_count}])
display(player_df)

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [61]:
unique_items = len(purchase_data["Item Name"].unique())

mean_price = purchase_data["Price"].mean()
mean_price_formatted = "$" + str(round(mean_price, 2))

total_purchases = len(purchase_data["Purchase ID"].unique())

total_revenue = purchase_data["Price"].sum()
total_revenue_formatted = "$" + str(total_revenue)

summary_df = pd.DataFrame({"Number of Unique Items":[unique_items], 
                "Average Price":[mean_price_formatted], 
                "Number of Purchases":[total_purchases],
                "Total Revenue":[total_revenue_formatted]})

display(summary_df)

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [62]:
purchase_data_unique = purchase_data.drop_duplicates(subset = 'SN')
gender_freqs = purchase_data_unique["Gender"].value_counts()
gender_rfreqs = round((purchase_data_unique["Gender"].value_counts(normalize = True)) * 100, 2)


# Reformat using list comprehension, then rebuild Series
gender_indices = gender_rfreqs.index.to_list()
gender_rfreqs_formatted = pd.Series(["$" + str(value) for value in gender_rfreqs],
                                    index = gender_rfreqs.index.to_list())

# Convert each Series to a DataFrame, then merge
gender_freqs_df = gender_freqs.to_frame("Total Players")
gender_rfreqs_df = gender_rfreqs_formatted.to_frame("Percentage of Players")

gender_summary = pd.merge(gender_freqs_df, gender_rfreqs_df, left_index = True, right_index = True)
display(gender_summary)

                       Total Players Percentage of Players
Male                             484                $84.03
Female                            81                $14.06
Other / Non-Disclosed             11                 $1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [63]:
gendered = purchase_data.groupby(['Gender'])


# Create lists of summary statistics from gendered
counts_list = gendered['Purchase ID'].count().to_list()

means = gendered['Price'].mean()
index_names = means.index.to_list()
means_formatted_list = ["${0:.2f}".format(round(values, 2)) for values in means]

sums = gendered['Price'].sum()
sums_formatted_list = ["$" + str(round(values, 2)) for values in sums]

means_unique = sums / gender_freqs  # divisor from above
means_unique_formatted_list = ["$" + str(round(values,2)) for values in means_unique]


gendered_df = pd.DataFrame({'Purchase Count':counts_list, 
                            'Average Purchase Price':means_formatted_list,
                            'Total Purchase Value':sums_formatted_list,
                            'Avg Total Purchase per Person':means_unique_formatted_list}, 
                             index = index_names)
display(gendered_df)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [66]:
# Other method using pd.cut

purchase_data_cut = purchase_data.copy()
purchase_data_cut['Range'] = pd.cut(purchase_data_cut.Age, ages_quantiles, include_lowest = True)

purchase_age_group = purchase_data_cut.groupby(['Range'])

purchase_age_group['Purchase ID'].count()

Range
(6.999, 20.0]    286
(20.0, 22.0]     132
(22.0, 25.0]     193
(25.0, 45.0]     169
Name: Purchase ID, dtype: int64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
age_counts = purchase_age_group['Purchase ID'].count().to_list()

age_means = purchase_age_group['Price'].mean()
age_means_formatted_list = ["${0:.2f}".format(round(values, 2)) for values in age_means]

age_sums = purchase_age_group['Price'].sum()
age_sums_formatted_list = ["$" + str(round(values, 2)) for values in age_sums]

purchase_data_unique_cut = purchase_data_unique.copy()
purchase_data_unique_cut['Range'] = pd.cut(purchase_data_unique_cut.Age, ages_quantiles, include_lowest = True)
purchase_data_unique_cut_by_age = purchase_data_unique_cut.groupby(['Range'])
unique_age_freqs = purchase_data_unique_cut_by_age['Purchase ID'].count().to_list()

age_means_unique = age_sums / unique_age_freqs  # divisor from above
age_means_unique_formatted_list = ["$" + str(round(values,2)) for values in age_means_unique]

print(age_counts)
print(age_means_formatted_list)
print(age_sums_formatted_list)
print(age_means_unique_formatted_list)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80